* {
  font-family: "Maple Mono NF CN", monospace;
  font-size: 12px;
}

window#waybar {
  background: rgba(20, 20, 20, 0.5); /* 50% transparency */
  color: #ffffff;
}

/* workspaces */
#tags {
  padding: 0 10px;
}

#tags button {
  color: #888;
  padding: 0 5px;
}

#tags button.focused {
  color: #ffffff;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
}

/* clock center */
#clock {
  font-weight: bold;
}

/* right side */
#pulseaudio,
#network,
#tray {
  padding: 0 10px;
}
